{{!-- Importo los scripts que hacen referencia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<div>
    <h1>Todo listo para trabajar con socket.io</h1>
</div>
