<body>
    <h1>Bienvenido al Esenita Chat</h1>
    <h2>Nombre: <span id="name"></span></h2>

    {{!-- input del mensaje --}}
    <div>
        <p>Escribe un mensaje en nuestro Chatbox <input  id="chatBox" type="text"> 
            </p>
            <button id="closeChat">Cerrar chat</button>
    </div>

    <div>
        <p id="messageLogs"></p>
    </div>

    {{!-- Importo los scripts que hacen referencia al uso de los sockets --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/message.js"></script>
</body>